# Range

## Experiments

In [5]:
range(4)

range(0, 4)

In [6]:
list(range(5))

[0, 1, 2, 3, 4]

In [8]:
# List from 5 to 9, increment 1
list(range(5,10,1))

[5, 6, 7, 8, 9]

In [9]:
# List as follows: 0,3,6,9
list(range(0,10,3))

[0, 3, 6, 9]

In [11]:
# List this: 10, 9, 8, ..., 1
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## Working with ordered data

In [15]:
# Numbers

import random
rand_number = random.randint(1,15)
rand_number

6

In [16]:
# Strings
import string
az_AZ = string.ascii_letters
az_AZ

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

# Four naive datastructures (pyhton build-in)

## Lists
mutable, any datatype, slots (indixes), ordered

auto = ['Mercedes','Car','Blue','Willi']
auto[0] --> 'Mercedes'
auto[1] --> 'Car'

In [17]:
auto = ['Mercedes','Car','Blue','Willi']
auto[0]

'Mercedes'

## Tuples

Similar to lists but unmutable

In [24]:
tuples_of_num = {1, 2, 3, 4, 5} #IF () used, index can be used
tuples_of_num

1

## Dictonary
key - value pairs <br>
keys are unique <br>
mutable <br>
the key is the index (), slot's aren't there

In [28]:
cartypes = {'car': 'BMW', 'truck': 'Volvo', 'motorcycle': 'Harley'} 
cartypes['car']

'BMW'

## Sets
Operations like
- union, intersection, difference, symetric difference
<br><br>
unordered
unique

In [33]:
set_of_plants = {'rose','tulip','daisy','dandelion'}
set_of_plants

'dandelion'