# Range

## Experiments

In [5]:
range(4)

range(0, 4)

In [6]:
list(range(5))

[0, 1, 2, 3, 4]

In [8]:
# List from 5 to 9, increment 1
list(range(5,10,1))

[5, 6, 7, 8, 9]

In [9]:
# List as follows: 0,3,6,9
list(range(0,10,3))

[0, 3, 6, 9]

In [11]:
# List this: 10, 9, 8, ..., 1
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## Working with ordered data

In [15]:
# Numbers

import random
rand_number = random.randint(1,15)
rand_number

6

In [16]:
# Strings
import string
az_AZ = string.ascii_letters
az_AZ

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

# Four naive datastructures (pyhton build-in)

## Lists
mutable, any datatype, slots (indixes), ordered

auto = ['Mercedes','Car','Blue','Willi']
auto[0] --> 'Mercedes'
auto[1] --> 'Car'

In [17]:
auto = ['Mercedes','Car','Blue','Willi']
auto[0]

'Mercedes'

## Tuples

Similar to lists but unmutable

In [36]:
tuples_of_num = (1, 2, 3, 4, 5)
tuples_of_num[1]

2

## Dictonary
key - value pairs <br>
keys are unique --> hashable <br>
mutable <br>
the key is the index (), slot's aren't there

In [28]:
cartypes = {'car': 'BMW', 'truck': 'Volvo', 'motorcycle': 'Harley'} 
cartypes['car']

'BMW'

## Sets
Operations like
- union, intersection, difference, symetric difference
<br><br>
unordered
unique (accepts duplicates, but not saved)

In [16]:
set_of_plants = {'rose','tulip','daisy','dandelion'}
set_of_plants

{'daisy', 'dandelion', 'rose', 'tulip'}

# Lists

## Create lists literaly

In [38]:
prices = [] # empty list
prices

[]

In [41]:
temps = [10.1,12.5,15,18.9,20,23.4,24]
temps

[10, 12, 15, 18, 20, 23, 24]

In [42]:
words = ['hello', 'universe']
words

['hello', 'universe']

In [44]:
car_details = ['Toyota', 'RAV4','2.2']
car_details

['Toyota', 'RAV4', '2.2']

## Lists of lists

In [47]:
everything = [prices, temps, words, car_details]
everything

[[],
 [10, 12, 15, 18, 20, 23, 24],
 ['hello', 'universe'],
 ['Toyota', 'RAV4', '2.2']]

## Putting lists to work

In [62]:
vowels = ['a','e','i','o','u']
word = 'The Expanse Universe'

word2 = word.lower()

list = []
for i in range(len(word)):

    if word2[i] in vowels:
        list.append(word[i])

list

['e', 'E', 'a', 'e', 'U', 'i', 'e', 'e']

In [64]:
# append

my_list = [1,2,3]
my_list.append('Orville')
my_list

[1, 2, 3, 'Orville']

## Growing a list at runtime

In [2]:
found = []
len(found)

0

In [3]:
found = []
found.append('a')
len(found)

1

In [10]:
vowels = ['a','e','i','o','u']
word = 'the expanse universe' 

list = []
for i in range(len(word)):

    if word[i] in vowels and word[i] not in list:
        list.append(word[i])

list

['e', 'a', 'u', 'i']

In [17]:
vowels = ['a','e','i','o','u']
word = 'Provide a lovely word' 

found = []

for letter in word:
    if letter in vowels:
        if letter not in found:
            found.append(letter)

for vowel in found: # vowel new defined
    print(vowel)

o
i
e
a

## Removing objects from a list

In [20]:
nums = [1,2,3,4,5]
nums.remove(3) # 3 --> not index but item
nums

[1, 2, 4, 5]

In [22]:
countries = ['USA', 'Canada', 'Mexico', 'Germany', 'Turkey']
removed_country = countries.pop(3) #

print(removed_country)
print(countries)

Germany
['USA', 'Canada', 'Mexico', 'Turkey']

## Extending list with a list

In [26]:
lakes = ['Huron','Erie','Ontario']
more_lakes = ['Superior', 'Michigan']
lakes.extend(more_lakes)
lakes

['Superior', 'Michigan']

In [3]:
empty_list = []
list = ['Superior', 'Michigan']
empty_list.extend(list)
lakes

['Superior', 'Michigan']

In [1]:
ingriediensts = ['flour', 'sugar','butter','apples']
ingriediensts.insert(2, 'eggs')
ingriediensts

['flour', 'sugar', 'eggs', 'butter', 'apples']

## Challenge: Don't panic

transform the phrase "don't panic" into "on tap"
use only the list methods shown so far

In [4]:
phrase = "don't panic"
rephrase = "on tap"
phrase = rephrase
phrase

'on tap'

In [ ]:
vowels = ['a','e','i','o','u']
word = input('Provide a lovely word')
found = []
for letter in word:
    if letter in vowels:
        if letter not in found:
            found.append(letter)
for anything in found:
    print(anything)

In [24]:
phrase = "don't panic"
list = ['o','n','t','a','p']
rephrase = []

for letter in phrase:
    if letter in list:
        if letter not in rephrase:
            rephrase.append(letter)

rephrase.insert(3, rephrase.pop(4))
rephrase.insert(2,' ')

print("".join(tuple(rephrase)))

on tap

In [25]:
keine_panik = ["don't panic"]
neue_panik = ["on tap"]
keine_panik.extend(neue_panik)
keine_panik.remove("don't panic")
keine_panik

['on tap']