# Recap

In [15]:
sci_fi = ['Start Wars','Blade Runner', 'Alien', 'The Thing', 'Total Recall']

for film in sci_fi:
    print(sci_fi.index(film), film)

0 Start Wars
1 Blade Runner
2 Alien
3 The Thing
4 Total Recall

In [22]:
# for loop with string

paranoid_android = 'Marvin'

for char in paranoid_android:
    print('\t', char)

	 M
	 a
	 r
	 v
	 i
	 n

# for loop understands slices

In [17]:
song_title = 'When I find myself in times of trouble'
song_title_list = []
song_title_list.extend(song_title)

for char in song_title_list[:4]:        
    print('\t',char)

for char in song_title_list[5:6]:
    print(2*'\t',char)

for char in song_title_list[7:11]:
    print(3*'\t',char)


# slicing 5 <= x < 6 --> index 5 adressed

	 W
	 h
	 e
	 n
		 I
			 f
			 i
			 n
			 d

# Dictionary

In [20]:
# new line for maintanance reason

person_1 = {'name': 'John', 
            'age': 27, 'job': 
            'programmer'
            }
person_2 = {'name': 'Mary',
            'age': 24, 
            'job': 'teacher'
            }
person_3 = {'name': 'Bob', 
            'age': 30, 
            'job': 'doctor'
            }

# Value lookup with square brackets in dictionary

In [27]:
person_3['name'] = 'Alina'          # change name from Bob to ALina
person_3['hobby'] = 'programming'   #add hobby programming

person_3

{'name': 'Alina', 'age': 30, 'job': 'doctor', 'hobby': 'programming'}

# Counting a Frequenz

In [28]:
basket = {}
basket

{}

In [40]:
basket['Milk'] = 0
basket['Bread'] = 0
basket['Eggs'] = 0
basket['Coffee'] = 0
basket['Noodles'] = 0

basket

{'Milk': 0, 'Bread': 0, 'Eggs': 0, 'Coffee': 0, 'Noodles': 0}

In [41]:
basket['Milk'] += 3

basket

{'Milk': 3, 'Bread': 0, 'Eggs': 0, 'Coffee': 0, 'Noodles': 0}

# Iterating over a dictionary

In [66]:
for k,v in sorted(basket.items()):      # use two temporary variables
    print(k,'was bought',v,'times')

Bread was bought 0 times
Coffee was bought 0 times
Eggs was bought 0 times
Milk was bought 3 times
Noodles was bought 0 times

In [52]:
print(basket.values())
print(basket.keys())

dict_values([3, 0, 0, 0, 0])
dict_keys(['Milk', 'Bread', 'Eggs', 'Coffee', 'Noodles'])

In [80]:
vocal = {'a':0, 'e': 0, 'i': 0, 'o': 0, 'u':0}

test_string = 'desavouieren'
test_string2 = test_string.lower()

for char in test_string2:
    for k in vocal.keys():
        if k is char:
            vocal[k] +=1

print(vocal)

{'a': 1, 'e': 3, 'i': 1, 'o': 1, 'u': 1}

In [76]:
fruits = {}
fruits['apple'] = 10


if 'lemon' in fruits:
    fruits['lemon'] += 4
else:
    fruits['lemon'] = 4

fruits

{'apple': 10, 'lemon': 4}

In [87]:
vocal = ('a','e','i','o','u')
resultset = {}

test_string = 'desavouieren'
test_string2 = test_string.lower()

for char in test_string2: # type: ignore
    if char in vocal and char in resultset.keys():      # proof that char at current index is in vocal but not in resultset keys, then update value+1
        resultset[char] +=1
    if char in vocal and char not in resultset.keys():  # proof that char at current index is in vocal and in resultset, then set value = 1
        resultset[char] = 1

resultset

{'e': 3, 'a': 1, 'o': 1, 'u': 1, 'i': 1}

# Sets don't allow duplicates

Sets can do everything for example:
- union
- intersection
- difference and
- symmetric difference

In [88]:
first_names_of_friends = ['John', 'Mary', 'John', 'Bob']

print(first_names_of_friends)
print(set(first_names_of_friends))

['John', 'Mary', 'John', 'Bob']
{'Mary', 'John', 'Bob'}

# Union: Combine two Sets

In [3]:
vowels = set('aeiou')
word = 'hi there'

u = vowels.union(set(word))
print(sorted(list(u)))

[' ', 'a', 'e', 'h', 'i', 'o', 'r', 't', 'u']

# Set difference

What is in the first, but not the second set?

In [8]:
vowels = set('aeiou')
word = 'hi there'

d = vowels.difference(word)

print(sorted(list(d)))

['a', 'o', 'u']

In [3]:
vowels = set('aeiou')
word = 'hi there'

d = vowels.intersection(word)

print(sorted(list(d)))

['e', 'i']

# Tuple

In [8]:
vowels = 'aeiou'

vowels_tuple = tuple(vowels)

vowels_list = list(vowels)

print(vowels_list)
print(type(vowels_list))

print(vowels_tuple)
print(type(vowels_tuple))

['a', 'e', 'i', 'o', 'u']
<class 'list'>
('a', 'e', 'i', 'o', 'u')
<class 'tuple'>

In [20]:
company = ('Google')    # if tupel datatype only contains one element, it is not a tupel but a string, int or any other datatype

type(company)           # type is string

number = (2)

type(number)            # type is int


tupel_1 = ('Google',) #if tupel datatype contains one element and a comma, it is a tupel

type(tupel_1)           # type is tupel

tuple

In [19]:
expanse_characters = {'James Holden': {'actor': 'Steven Strait', 'salary': 1000000}, 
                      'Naomi Nagata': {'actor': 'Dominique Tipper', 'salary': 575000}}
print(expanse_characters)


expanse_characters['James Holden']['actor']
expanse_characters['Naomi Nagata']['actor']

{'James Holden': {'actor': 'Steven Strait', 'salary': 1000000}, 'Naomi Nagata': {'actor': 'Dominique Tipper', 'salary': 575000}}

'Dominique Tipper'